<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>aalt</key>
  <array>
    <string>uniE050</string>
    <string>uniE05C</string>
    <string>uniE062</string>
    <string>uniE0A0</string>
    <string>uniE0A1</string>
    <string>uniE0A2</string>
    <string>uniE0A3</string>
    <string>uniE0A4</string>
    <string>uniE650</string>
    <string>uniE659</string>
  </array>
  <key>aalt2</key>
  <array>
    <string>uniF472</string>
    <string>uniF473</string>
    <string>uniF474</string>
    <string>uniF4BA</string>
    <string>uniF4BB</string>
    <string>uniF4BC</string>
    <string>uniF4BD</string>
    <string>uniF4BE</string>
    <string>uniF434</string>
    <string>uniF435</string>
  </array>
</dict>
</plist>
