<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>uni007F</key>
    <string>uni007F_.glif</string>
    <key>uni0081</key>
    <string>uni0081.glif</string>
    <key>uni0082</key>
    <string>uni0082.glif</string>
    <key>uni0083</key>
    <string>uni0083.glif</string>
    <key>uni0084</key>
    <string>uni0084.glif</string>
    <key>uni0085</key>
    <string>uni0085.glif</string>
    <key>uni0086</key>
    <string>uni0086.glif</string>
    <key>uni0087</key>
    <string>uni0087.glif</string>
    <key>uni0088</key>
    <string>uni0088.glif</string>
    <key>uni0089</key>
    <string>uni0089.glif</string>
    <key>uni008A</key>
    <string>uni008A_.glif</string>
    <key>uni008B</key>
    <string>uni008B_.glif</string>
    <key>uni008C</key>
    <string>uni008C_.glif</string>
    <key>uni008D</key>
    <string>uni008D_.glif</string>
    <key>uni008E</key>
    <string>uni008E_.glif</string>
    <key>uni008F</key>
    <string>uni008F_.glif</string>
    <key>uni0090</key>
    <string>uni0090.glif</string>
    <key>uni0091</key>
    <string>uni0091.glif</string>
    <key>uni0092</key>
    <string>uni0092.glif</string>
    <key>uni0093</key>
    <string>uni0093.glif</string>
    <key>uni0094</key>
    <string>uni0094.glif</string>
    <key>uni0095</key>
    <string>uni0095.glif</string>
    <key>uni0096</key>
    <string>uni0096.glif</string>
    <key>uni0097</key>
    <string>uni0097.glif</string>
    <key>uni0098</key>
    <string>uni0098.glif</string>
    <key>uni0099</key>
    <string>uni0099.glif</string>
    <key>uni009A</key>
    <string>uni009A_.glif</string>
    <key>uni009B</key>
    <string>uni009B_.glif</string>
    <key>uni009C</key>
    <string>uni009C_.glif</string>
    <key>uni009D</key>
    <string>uni009D_.glif</string>
    <key>uni009E</key>
    <string>uni009E_.glif</string>
    <key>uni009F</key>
    <string>uni009F_.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>uni0080</key>
    <string>uni0080.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>uni00AD</key>
    <string>uni00A_D_.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>uni00B2</key>
    <string>uni00B_2.glif</string>
    <key>uni00B3</key>
    <string>uni00B_3.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>uni00B5</key>
    <string>uni00B_5.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>uni00B9</key>
    <string>uni00B_9.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>brace</key>
    <string>uniE_000.glif</string>
    <key>barlineDouble</key>
    <string>uniE_031.glif</string>
    <key>barlineSingle</key>
    <string>uniE_030.glif</string>
    <key>gClef</key>
    <string>uniE_050.glif</string>
    <key>gClef8vb</key>
    <string>uniE_052.glif</string>
    <key>cClef</key>
    <string>uniE_05C_.glif</string>
    <key>fClef</key>
    <string>uniE_062.glif</string>
    <key>unpitchedPercussionClef2</key>
    <string>uniE_06A_.glif</string>
    <key>gClef8va</key>
    <string>uniE_053.glif</string>
    <key>fClef8vb</key>
    <string>uniE_064.glif</string>
    <key>timeSig0</key>
    <string>uniE_080.glif</string>
    <key>timeSig1</key>
    <string>uniE_081.glif</string>
    <key>timeSig2</key>
    <string>uniE_082.glif</string>
    <key>timeSig3</key>
    <string>uniE_083.glif</string>
    <key>timeSig4</key>
    <string>uniE_084.glif</string>
    <key>timeSig5</key>
    <string>uniE_085.glif</string>
    <key>timeSig6</key>
    <string>uniE_086.glif</string>
    <key>timeSig7</key>
    <string>uniE_087.glif</string>
    <key>timeSig8</key>
    <string>uniE_088.glif</string>
    <key>timeSig9</key>
    <string>uniE_089.glif</string>
    <key>timeSigCutCommon</key>
    <string>uniE_08B_.glif</string>
    <key>timeSigCommon</key>
    <string>uniE_08A_.glif</string>
    <key>noteheadDoubleWhole</key>
    <string>uniE_0A_0.glif</string>
    <key>noteheadDoubleWholeSquare</key>
    <string>uniE_0A_1.glif</string>
    <key>noteheadHalf</key>
    <string>uniE_0A_3.glif</string>
    <key>noteheadBlack</key>
    <string>uniE_0A_4.glif</string>
    <key>noteheadWhole</key>
    <string>uniE_0A_2.glif</string>
    <key>caesura</key>
    <string>uniE_4D_1.glif</string>
    <key>breathMarkComma</key>
    <string>uniE_4C_E_.glif</string>
    <key>accidentalSharp</key>
    <string>uniE_262.glif</string>
    <key>accidentalNaturalFlat</key>
    <string>uniE_267.glif</string>
    <key>accidentalNaturalSharp</key>
    <string>uniE_268.glif</string>
    <key>keyboardPedalP</key>
    <string>uniE_651.glif</string>
    <key>keyboardPedalUp</key>
    <string>uniE_655.glif</string>
    <key>keyboardPedalPed</key>
    <string>uniE_650.glif</string>
    <key>dynamicPiano</key>
    <string>uniE_520.glif</string>
    <key>dynamicForte</key>
    <string>uniE_522.glif</string>
    <key>dynamicPP</key>
    <string>uniE_52B_.glif</string>
    <key>dynamicPPP</key>
    <string>uniE_52A_.glif</string>
    <key>dynamicPPPP</key>
    <string>uniE_529.glif</string>
    <key>dynamicMP</key>
    <string>uniE_52C_.glif</string>
    <key>dynamicMF</key>
    <string>uniE_52D_.glif</string>
    <key>dynamicFF</key>
    <string>uniE_52F_.glif</string>
    <key>dynamicFFF</key>
    <string>uniE_530.glif</string>
    <key>dynamicFFFF</key>
    <string>uniE_531.glif</string>
    <key>dynamicFortePiano</key>
    <string>uniE_534.glif</string>
    <key>dynamicForzando</key>
    <string>uniE_535.glif</string>
    <key>dynamicSforzando1</key>
    <string>uniE_536.glif</string>
    <key>dynamicSforzandoPiano</key>
    <string>uniE_537.glif</string>
    <key>dynamicSforzandoPianissimo</key>
    <string>uniE_538.glif</string>
    <key>dynamicSforzato</key>
    <string>uniE_539.glif</string>
    <key>dynamicRinforzando1</key>
    <string>uniE_53C_.glif</string>
    <key>dynamicRinforzando2</key>
    <string>uniE_53D_.glif</string>
    <key>articAccentAbove</key>
    <string>uniE_4A_0.glif</string>
    <key>articStaccatoAbove</key>
    <string>uniE_4A_2.glif</string>
    <key>articTenutoAbove</key>
    <string>uniE_4A_4.glif</string>
    <key>articStaccatissimoAbove</key>
    <string>uniE_4A_6.glif</string>
    <key>articStaccatissimoBelow</key>
    <string>uniE_4A_7.glif</string>
    <key>articStaccatissimoWedgeAbove</key>
    <string>uniE_4A_8.glif</string>
    <key>articStaccatissimoWedgeBelow</key>
    <string>uniE_4A_9.glif</string>
    <key>articMarcatoAbove</key>
    <string>uniE_4A_C_.glif</string>
    <key>articMarcatoBelow</key>
    <string>uniE_4A_D_.glif</string>
    <key>dynamicDiminuendoHairpin</key>
    <string>uniE_53F_.glif</string>
    <key>accidentalParensLeft</key>
    <string>uniE_26A_.glif</string>
    <key>accidentalParensRight</key>
    <string>uniE_26B_.glif</string>
    <key>articTenutoBelow</key>
    <string>uniE_4A_5.glif</string>
    <key>articStaccatoBelow</key>
    <string>uniE_4A_3.glif</string>
    <key>articAccentBelow</key>
    <string>uniE_4A_1.glif</string>
    <key>articMarcatoStaccatoAbove</key>
    <string>uniE_4A_E_.glif</string>
    <key>articMarcatoStaccatoBelow</key>
    <string>uniE_4A_F_.glif</string>
    <key>articAccentStaccatoAbove</key>
    <string>uniE_4B_0.glif</string>
    <key>articAccentStaccatoBelow</key>
    <string>uniE_4B_1.glif</string>
    <key>articStaccatissimoStrokeBelow</key>
    <string>uniE_4A_B_.glif</string>
    <key>articStaccatissimoStrokeAbove</key>
    <string>uniE_4A_A_.glif</string>
    <key>articTenutoStaccatoAbove</key>
    <string>uniE_4B_2.glif</string>
    <key>articTenutoStaccatoBelow</key>
    <string>uniE_4B_3.glif</string>
    <key>articTenutoAccentAbove</key>
    <string>uniE_4B_4.glif</string>
    <key>articTenutoAccentBelow</key>
    <string>uniE_4B_5.glif</string>
    <key>noteheadTriangleUpWhite</key>
    <string>uniE_0B_D_.glif</string>
    <key>noteheadTriangleUpBlack</key>
    <string>uniE_0B_E_.glif</string>
    <key>noteheadTriangleDownWhite</key>
    <string>uniE_0C_6.glif</string>
    <key>noteheadTriangleDownBlack</key>
    <string>uniE_0C_7.glif</string>
    <key>fClef8va</key>
    <string>uniE_065.glif</string>
    <key>dynamicSforzando</key>
    <string>uniE_524.glif</string>
    <key>dynamicMezzo</key>
    <string>uniE_521.glif</string>
    <key>dynamicRinforzando</key>
    <string>uniE_523.glif</string>
    <key>dynamicZ</key>
    <string>uniE_525.glif</string>
    <key>fermataAbove</key>
    <string>uniE_4C_0.glif</string>
    <key>fermataBelow</key>
    <string>uniE_4C_1.glif</string>
    <key>fermataLongAbove</key>
    <string>uniE_4C_6.glif</string>
    <key>fermataLongBelow</key>
    <string>uniE_4C_7.glif</string>
    <key>fermataShortAbove</key>
    <string>uniE_4C_4.glif</string>
    <key>fermataShortBelow</key>
    <string>uniE_4C_5.glif</string>
    <key>fermataLongHenzeAbove</key>
    <string>uniE_4C_A_.glif</string>
    <key>fermataLongHenzeBelow</key>
    <string>uniE_4C_B_.glif</string>
    <key>restDoubleWhole</key>
    <string>uniE_4E_2.glif</string>
    <key>restHalf</key>
    <string>uniE_4E_4.glif</string>
    <key>restWhole</key>
    <string>uniE_4E_3.glif</string>
    <key>restQuarter</key>
    <string>uniE_4E_5.glif</string>
    <key>rest8th</key>
    <string>uniE_4E_6.glif</string>
    <key>rest16th</key>
    <string>uniE_4E_7.glif</string>
    <key>rest64th</key>
    <string>uniE_4E_9.glif</string>
    <key>rest128th</key>
    <string>uniE_4E_A_.glif</string>
    <key>rest32nd</key>
    <string>uniE_4E_8.glif</string>
    <key>ornamentTrill</key>
    <string>uniE_566.glif</string>
    <key>ornamentTurn</key>
    <string>uniE_567.glif</string>
    <key>ornamentTurnInverted</key>
    <string>uniE_568.glif</string>
    <key>ornamentTurnSlash</key>
    <string>uniE_569.glif</string>
    <key>ornamentTurnUp</key>
    <string>uniE_56A_.glif</string>
    <key>ornamentTurnUpS</key>
    <string>uniE_56B_.glif</string>
    <key>ornamentShortTrill</key>
    <string>uniE_56C_.glif</string>
    <key>ornamentMordent</key>
    <string>uniE_56D_.glif</string>
    <key>ornamentTremblement</key>
    <string>uniE_56E_.glif</string>
    <key>timeSigPlus</key>
    <string>uniE_08C_.glif</string>
    <key>accidentalFlat</key>
    <string>uniE_260.glif</string>
    <key>accidentalNatural</key>
    <string>uniE_261.glif</string>
    <key>accidentalDoubleSharp</key>
    <string>uniE_263.glif</string>
    <key>accidentalDoubleFlat</key>
    <string>uniE_264.glif</string>
    <key>segnoSerpent1</key>
    <string>uniE_04A_.glif</string>
    <key>segnoSerpent2</key>
    <string>uniE_04B_.glif</string>
    <key>coda</key>
    <string>uniE_048.glif</string>
    <key>segno</key>
    <string>uniE_047.glif</string>
    <key>tremolo1</key>
    <string>uniE_220.glif</string>
    <key>tremolo2</key>
    <string>uniE_221.glif</string>
    <key>tremolo3</key>
    <string>uniE_222.glif</string>
    <key>tremolo4</key>
    <string>uniE_223.glif</string>
    <key>repeat1Bar</key>
    <string>uniE_500.glif</string>
    <key>repeat2Bars</key>
    <string>uniE_501.glif</string>
    <key>repeatBarSlash</key>
    <string>uniE_504.glif</string>
    <key>noteheadTriangleRightWhite</key>
    <string>uniE_0C_1.glif</string>
    <key>noteheadTriangleLeftWhite</key>
    <string>uniE_0B_F_.glif</string>
    <key>noteheadDiamondHalf</key>
    <string>uniE_0D_9.glif</string>
    <key>noteheadSquareWhite</key>
    <string>uniE_0B_8.glif</string>
    <key>noteheadSquareBlack</key>
    <string>uniE_0B_9.glif</string>
    <key>noteheadDiamondWhole</key>
    <string>uniE_0D_8.glif</string>
    <key>noteheadXBlack</key>
    <string>uniE_0A_9.glif</string>
    <key>noteheadDiamondBlack</key>
    <string>uniE_0D_B_.glif</string>
    <key>noteheadXOrnate</key>
    <string>uniE_0A_A_.glif</string>
    <key>breathMarkTick</key>
    <string>uniE_4C_F_.glif</string>
    <key>ottava</key>
    <string>uniE_510.glif</string>
    <key>quindicesima</key>
    <string>uniE_514.glif</string>
    <key>dynamicCrescendoHairpin</key>
    <string>uniE_53E_.glif</string>
    <key>dynamicNienteForHairpin</key>
    <string>uniE_541.glif</string>
    <key>flag8thUp</key>
    <string>uniE_240.glif</string>
    <key>flag8thDown</key>
    <string>uniE_241.glif</string>
    <key>flag16thUp</key>
    <string>uniE_242.glif</string>
    <key>flag16thDown</key>
    <string>uniE_243.glif</string>
    <key>dynamicNiente</key>
    <string>uniE_526.glif</string>
    <key>figbass0</key>
    <string>uniE_A_50.glif</string>
    <key>figbass1</key>
    <string>uniE_A_51.glif</string>
    <key>figbass2</key>
    <string>uniE_A_52.glif</string>
    <key>figbass2Raised</key>
    <string>uniE_A_53.glif</string>
    <key>figbass3</key>
    <string>uniE_A_54.glif</string>
    <key>figbass4</key>
    <string>uniE_A_55.glif</string>
    <key>figbass4Raised</key>
    <string>uniE_A_56.glif</string>
    <key>figbass5</key>
    <string>uniE_A_57.glif</string>
    <key>figbass5Raised1</key>
    <string>uniE_A_58.glif</string>
    <key>figbass5Raised2</key>
    <string>uniE_A_59.glif</string>
    <key>figbass5Raised3</key>
    <string>uniE_A_5A_.glif</string>
    <key>figbass6</key>
    <string>uniE_A_5B_.glif</string>
    <key>figbass6Raised</key>
    <string>uniE_A_5C_.glif</string>
    <key>figbass7</key>
    <string>uniE_A_5D_.glif</string>
    <key>figbass7Raised1</key>
    <string>uniE_A_5E_.glif</string>
    <key>figbass7Raised2</key>
    <string>uniE_A_5F_.glif</string>
    <key>figbass8</key>
    <string>uniE_A_60.glif</string>
    <key>figbass9</key>
    <string>uniE_A_61.glif</string>
    <key>flag32ndUp</key>
    <string>uniE_244.glif</string>
    <key>flag32ndDown</key>
    <string>uniE_245.glif</string>
    <key>flag64thUp</key>
    <string>uniE_246.glif</string>
    <key>flag64thDown</key>
    <string>uniE_247.glif</string>
    <key>flag128thUp</key>
    <string>uniE_248.glif</string>
    <key>flag128thDown</key>
    <string>uniE_249.glif</string>
    <key>tuplet0</key>
    <string>uniE_880.glif</string>
    <key>tuplet1</key>
    <string>uniE_881.glif</string>
    <key>tuplet2</key>
    <string>uniE_882.glif</string>
    <key>tuplet3</key>
    <string>uniE_883.glif</string>
    <key>tuplet4</key>
    <string>uniE_884.glif</string>
    <key>tuplet5</key>
    <string>uniE_885.glif</string>
    <key>tuplet6</key>
    <string>uniE_886.glif</string>
    <key>tuplet7</key>
    <string>uniE_887.glif</string>
    <key>tuplet8</key>
    <string>uniE_888.glif</string>
    <key>tuplet9</key>
    <string>uniE_889.glif</string>
    <key>systemDivider</key>
    <string>uniE_007.glif</string>
    <key>reversedBrace</key>
    <string>uniE_001.glif</string>
    <key>staffDivideArrowUp</key>
    <string>uniE_00C_.glif</string>
    <key>staffDivideArrowUpDown</key>
    <string>uniE_00D_.glif</string>
    <key>bracketTop</key>
    <string>uniE_003.glif</string>
    <key>bracketBottom</key>
    <string>uniE_004.glif</string>
    <key>staff5Lines</key>
    <string>uniE_014.glif</string>
    <key>timeSigCut2</key>
    <string>uniE_C_85.glif</string>
    <key>noteheadTriangleLeftBlack</key>
    <string>uniE_0C_0.glif</string>
    <key>noteheadTriangleRightBlack</key>
    <string>uniE_0C_2.glif</string>
    <key>noteheadTriangleUpRightWhite</key>
    <string>uniE_0C_8.glif</string>
    <key>noteheadTriangleUpRightBlack</key>
    <string>uniE_0C_9.glif</string>
    <key>noteheadMoonWhite</key>
    <string>uniE_0C_A_.glif</string>
    <key>noteheadMoonBlack</key>
    <string>uniE_0C_B_.glif</string>
    <key>noteheadRoundBlack</key>
    <string>uniE_113.glif</string>
    <key>noteheadRoundWhite</key>
    <string>uniE_114.glif</string>
    <key>noteDoubleWhole</key>
    <string>uniE_1D_0.glif</string>
    <key>noteDoubleWholeSquare</key>
    <string>uniE_1D_1.glif</string>
    <key>noteHalfUp</key>
    <string>uniE_1D_3.glif</string>
    <key>noteHalfDown</key>
    <string>uniE_1D_4.glif</string>
    <key>noteQuarterUp</key>
    <string>uniE_1D_5.glif</string>
    <key>noteQuarterDown</key>
    <string>uniE_1D_6.glif</string>
    <key>note8thUp</key>
    <string>uniE_1D_7.glif</string>
    <key>note8thDown</key>
    <string>uniE_1D_8.glif</string>
    <key>note16thUp</key>
    <string>uniE_1D_9.glif</string>
    <key>note16thDown</key>
    <string>uniE_1D_A_.glif</string>
    <key>note32ndUp</key>
    <string>uniE_1D_B_.glif</string>
    <key>note32ndDown</key>
    <string>uniE_1D_C_.glif</string>
    <key>augmentationDot</key>
    <string>uniE_1E_7.glif</string>
    <key>flagInternalUp</key>
    <string>uniE_250.glif</string>
    <key>flagInternalDown</key>
    <string>uniE_251.glif</string>
    <key>lyricsElisionNarrow</key>
    <string>uniE_550.glif</string>
    <key>lyricsElision</key>
    <string>uniE_551.glif</string>
    <key>lyricsElisionWide</key>
    <string>uniE_552.glif</string>
    <key>ornamentPrecompSlide</key>
    <string>uniE_5B_0.glif</string>
    <key>ornamentPrecompAppoggTrill</key>
    <string>uniE_5B_2.glif</string>
    <key>ornamentPrecompCadenceUpperPrefixTurn</key>
    <string>uniE_5C_2.glif</string>
    <key>ornamentPrecompInvertedMordentUpperPrefix</key>
    <string>uniE_5C_7.glif</string>
    <key>ornamentPrecompMordentRelease</key>
    <string>uniE_5C_5.glif</string>
    <key>ornamentZigZagLineWithRightEnd</key>
    <string>uniE_59E_.glif</string>
    <key>gClef15ma</key>
    <string>uniE_054.glif</string>
    <key>fClef15mb</key>
    <string>uniE_063.glif</string>
    <key>unpitchedPercussionClef1</key>
    <string>uniE_069.glif</string>
    <key>noteheadSlashedBlack1</key>
    <string>uniE_0C_F_.glif</string>
    <key>noteheadSlashedBlack2</key>
    <string>uniE_0D_0.glif</string>
    <key>noteheadSlashedHalf2</key>
    <string>uniE_0D_2.glif</string>
    <key>noteheadSlashedHalf1</key>
    <string>uniE_0D_1.glif</string>
    <key>noteheadCircledBlackLarge</key>
    <string>uniE_0E_8.glif</string>
    <key>noteheadCircledHalfLarge</key>
    <string>uniE_0E_9.glif</string>
    <key>noteheadLargeArrowUpBlack</key>
    <string>uniE_0F_0.glif</string>
    <key>noteheadLargeArrowDownWhole</key>
    <string>uniE_0F_2.glif</string>
    <key>accidentalBracketLeft</key>
    <string>uniE_26C_.glif</string>
    <key>accidentalBracketRight</key>
    <string>uniE_26D_.glif</string>
    <key>dynamicMessaDiVoce</key>
    <string>uniE_540.glif</string>
    <key>articUnstressAbove</key>
    <string>uniE_4B_8.glif</string>
    <key>articUnstressBelow</key>
    <string>uniE_4B_9.glif</string>
    <key>noteheadSlashWhiteWhole</key>
    <string>uniE_102.glif</string>
    <key>noteheadSlashVerticalEnds</key>
    <string>uniE_100.glif</string>
    <key>noteheadSlashHorizontalEnds</key>
    <string>uniE_101.glif</string>
    <key>stringsDownBow</key>
    <string>uniE_610.glif</string>
    <key>stringsUpBow</key>
    <string>uniE_612.glif</string>
    <key>stringsDownBowTurned</key>
    <string>uniE_611.glif</string>
    <key>stringsUpBowTurned</key>
    <string>uniE_613.glif</string>
    <key>stringsJeteAbove</key>
    <string>uniE_620.glif</string>
    <key>stringsJeteBelow</key>
    <string>uniE_621.glif</string>
    <key>stringsHarmonic</key>
    <string>uniE_614.glif</string>
    <key>stringsHalfHarmonic</key>
    <string>uniE_615.glif</string>
    <key>stringsBowBehindBridgeOneString</key>
    <string>uniE_627.glif</string>
    <key>stringsBowBehindBridgeTwoStrings</key>
    <string>uniE_628.glif</string>
    <key>stringsBowBehindBridgeThreeStrings</key>
    <string>uniE_629.glif</string>
    <key>stringsBowBehindBridgeFourStrings</key>
    <string>uniE_62A_.glif</string>
    <key>stringsBowBehindBridge</key>
    <string>uniE_618.glif</string>
    <key>keyboardBebung2DotsAbove</key>
    <string>uniE_668.glif</string>
    <key>keyboardBebung2DotsBelow</key>
    <string>uniE_669.glif</string>
    <key>keyboardBebung3DotsAbove</key>
    <string>uniE_66A_.glif</string>
    <key>keyboardBebung3DotsBelow</key>
    <string>uniE_66B_.glif</string>
    <key>keyboardBebung4DotsAbove</key>
    <string>uniE_66C_.glif</string>
    <key>keyboardBebung4DotsBelow</key>
    <string>uniE_66D_.glif</string>
    <key>dynamicSforzatoFF</key>
    <string>uniE_53B_.glif</string>
    <key>dynamicHairpinParenthesisLeft</key>
    <string>uniE_542.glif</string>
    <key>dynamicHairpinParenthesisRight</key>
    <string>uniE_543.glif</string>
    <key>figbass9Raised</key>
    <string>uniE_A_62.glif</string>
    <key>figbassFlat</key>
    <string>uniE_A_64.glif</string>
    <key>figbassNatural</key>
    <string>uniE_A_65.glif</string>
    <key>figbassSharp</key>
    <string>uniE_A_66.glif</string>
    <key>noteheadSlashDiamondWhite</key>
    <string>uniE_104.glif</string>
    <key>repeatDots</key>
    <string>uniE_043.glif</string>
    <key>timeSigPlusSmall</key>
    <string>uniE_08D_.glif</string>
    <key>analyticsNebenstimme</key>
    <string>uniE_861.glif</string>
    <key>analyticsStartStimme</key>
    <string>uniE_862.glif</string>
    <key>analyticsEndStimme</key>
    <string>uniE_863.glif</string>
    <key>analyticsTheme</key>
    <string>uniE_864.glif</string>
    <key>systemDividerExtraLong</key>
    <string>uniE_009.glif</string>
    <key>systemDividerLong</key>
    <string>uniE_008.glif</string>
    <key>noteWhole</key>
    <string>uniE_1D_2.glif</string>
    <key>accidentalQuarterToneFlatArrowUp</key>
    <string>uniE_270.glif</string>
    <key>accidentalThreeQuarterTonesFlatArrowDown</key>
    <string>uniE_271.glif</string>
    <key>accidentalQuarterToneSharpNaturalArrowUp</key>
    <string>uniE_272.glif</string>
    <key>accidentalQuarterToneFlatNaturalArrowDown</key>
    <string>uniE_273.glif</string>
    <key>accidentalThreeQuarterTonesSharpArrowUp</key>
    <string>uniE_274.glif</string>
    <key>accidentalQuarterToneSharpArrowDown</key>
    <string>uniE_275.glif</string>
    <key>accidentalQuarterToneFlatStein</key>
    <string>uniE_280.glif</string>
    <key>accidentalThreeQuarterTonesFlatZimmermann</key>
    <string>uniE_281.glif</string>
    <key>accidentalQuarterToneSharpStein</key>
    <string>uniE_282.glif</string>
    <key>accidentalThreeQuarterTonesSharpStein</key>
    <string>uniE_283.glif</string>
    <key>accidentalReversedFlatArrowUp</key>
    <string>uniE_290.glif</string>
    <key>accidentalReversedFlatArrowDown</key>
    <string>uniE_291.glif</string>
    <key>accidentalFilledReversedFlatArrowUp</key>
    <string>uniE_292.glif</string>
    <key>accidentalFilledReversedFlatArrowDown</key>
    <string>uniE_293.glif</string>
    <key>accidentalReversedFlatAndFlatArrowUp</key>
    <string>uniE_294.glif</string>
    <key>accidentalReversedFlatAndFlatArrowDown</key>
    <string>uniE_295.glif</string>
    <key>accidentalFilledReversedFlatAndFlat</key>
    <string>uniE_296.glif</string>
    <key>accidentalFilledReversedFlatAndFlatArrowUp</key>
    <string>uniE_297.glif</string>
    <key>accidentalFilledReversedFlatAndFlatArrowDown</key>
    <string>uniE_298.glif</string>
    <key>accidentalHalfSharpArrowUp</key>
    <string>uniE_299.glif</string>
    <key>accidentalHalfSharpArrowDown</key>
    <string>uniE_29A_.glif</string>
    <key>accidentalOneAndAHalfSharpsArrowUp</key>
    <string>uniE_29B_.glif</string>
    <key>accidentalOneAndAHalfSharpsArrowDown</key>
    <string>uniE_29C_.glif</string>
    <key>ornamentPrecompDoubleCadenceUpperPrefixTurn</key>
    <string>uniE_5C_4.glif</string>
    <key>ornamentPrecompSlideTrillDAnglebert</key>
    <string>uniE_5B_5.glif</string>
    <key>brassHarmonMuteClosed</key>
    <string>uniE_5E_8.glif</string>
    <key>brassHarmonMuteStemOpen</key>
    <string>uniE_5E_B_.glif</string>
    <key>brassHarmonMuteStemHalfLeft</key>
    <string>uniE_5E_9.glif</string>
    <key>brassHarmonMuteStemHalfRight</key>
    <string>uniE_5E_A_.glif</string>
    <key>brassMuteClosed</key>
    <string>uniE_5E_5.glif</string>
    <key>brassMuteHalfClosed</key>
    <string>uniE_5E_6.glif</string>
    <key>brassMuteOpen</key>
    <string>uniE_5E_7.glif</string>
    <key>doubleTongueAbove</key>
    <string>uniE_5F_0.glif</string>
    <key>doubleTongueBelow</key>
    <string>uniE_5F_1.glif</string>
    <key>tripleTongueAbove</key>
    <string>uniE_5F_2.glif</string>
    <key>tripleTongueBelow</key>
    <string>uniE_5F_3.glif</string>
    <key>windOpenHole</key>
    <string>uniE_5F_9.glif</string>
    <key>windHalfClosedHole2</key>
    <string>uniE_5F_7.glif</string>
    <key>windHalfClosedHole1</key>
    <string>uniE_5F_6.glif</string>
    <key>breathMarkUpbow</key>
    <string>uniE_4D_0.glif</string>
    <key>pictDamp2</key>
    <string>uniE_7F_A_.glif</string>
    <key>pictDamp3</key>
    <string>uniE_7F_B_.glif</string>
    <key>pictDamp4</key>
    <string>uniE_7F_C_.glif</string>
    <key>pictOpen</key>
    <string>uniE_7F_8.glif</string>
    <key>pictHalfOpen1</key>
    <string>uniE_7F_6.glif</string>
    <key>pictStickShot</key>
    <string>uniE_7F_0.glif</string>
    <key>pluckedSnapPizzicatoBelow</key>
    <string>uniE_630.glif</string>
    <key>pluckedSnapPizzicatoAbove</key>
    <string>uniE_631.glif</string>
    <key>pluckedBuzzPizzicato</key>
    <string>uniE_632.glif</string>
    <key>pluckedLeftHandPizzicato</key>
    <string>uniE_633.glif</string>
    <key>pictBeaterSoftXylophoneUp</key>
    <string>uniE_770.glif</string>
    <key>pictBeaterSoftXylophoneRight</key>
    <string>uniE_772.glif</string>
    <key>pictBeaterSoftXylophoneLeft</key>
    <string>uniE_773.glif</string>
    <key>pictBeaterWoodXylophoneUp</key>
    <string>uniE_77C_.glif</string>
    <key>pictBeaterWoodXylophoneRight</key>
    <string>uniE_77E_.glif</string>
    <key>pictBeaterWoodXylophoneLeft</key>
    <string>uniE_77F_.glif</string>
    <key>dynamicPF</key>
    <string>uniE_52E_.glif</string>
    <key>timeSigX</key>
    <string>uniE_09C_.glif</string>
    <key>tremoloFingered1</key>
    <string>uniE_225.glif</string>
    <key>tremoloFingered2</key>
    <string>uniE_226.glif</string>
    <key>tremoloFingered3</key>
    <string>uniE_227.glif</string>
    <key>tremoloFingered4</key>
    <string>uniE_228.glif</string>
    <key>wiggleCircularConstantLarge</key>
    <string>uniE_A_C_2.glif</string>
    <key>wiggleCircularConstantFlippedLarge</key>
    <string>uniE_A_C_3.glif</string>
    <key>wiggleTrill</key>
    <string>uniE_A_A_4.glif</string>
    <key>wiggleTrillFastest</key>
    <string>uniE_A_A_0.glif</string>
    <key>wiggleTrillFasterStill</key>
    <string>uniE_A_A_1.glif</string>
    <key>wiggleTrillFaster</key>
    <string>uniE_A_A_2.glif</string>
    <key>wiggleTrillFast</key>
    <string>uniE_A_A_3.glif</string>
    <key>wiggleWavy</key>
    <string>uniE_A_B_5.glif</string>
    <key>wiggleTrillSlow</key>
    <string>uniE_A_A_5.glif</string>
    <key>wiggleTrillSlower</key>
    <string>uniE_A_A_6.glif</string>
    <key>wiggleTrillSlowerStill</key>
    <string>uniE_A_A_7.glif</string>
    <key>repeatDot</key>
    <string>uniE_044.glif</string>
    <key>timeSigEquals</key>
    <string>uniE_08F_.glif</string>
    <key>staffDivideArrowDown</key>
    <string>uniE_00B_.glif</string>
    <key>fingering0</key>
    <string>uniE_D_10.glif</string>
    <key>fingering1</key>
    <string>uniE_D_11.glif</string>
    <key>fingering2</key>
    <string>uniE_D_12.glif</string>
    <key>fingering3</key>
    <string>uniE_D_13.glif</string>
    <key>fingering4</key>
    <string>uniE_D_14.glif</string>
    <key>fingering5</key>
    <string>uniE_D_15.glif</string>
    <key>mensuralNoteheadLongaWhite</key>
    <string>uniE_937.glif</string>
    <key>mensuralNoteheadMaximaWhite</key>
    <string>uniE_933.glif</string>
    <key>mensuralNoteheadLongaVoid</key>
    <string>uniE_935.glif</string>
    <key>figbassDoubleSharp</key>
    <string>uniE_A_67.glif</string>
    <key>repeatBarUpperDot</key>
    <string>uniE_503.glif</string>
    <key>repeatBarLowerDot</key>
    <string>uniE_505.glif</string>
    <key>tupletColon</key>
    <string>uniE_88A_.glif</string>
  </dict>
</plist>
