<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>uniE520</key>
  <dict>
    <key>uniE52C</key>
    <integer>52</integer>
    <key>uniE52D</key>
    <integer>60</integer>
  </dict>
  <key>uniE521</key>
  <dict>
    <key>uniE520</key>
    <integer>47</integer>
    <key>uniE521</key>
    <integer>21</integer>
    <key>uniE52C</key>
    <integer>60</integer>
  </dict>
  <key>uniE522</key>
  <dict>
    <key>uniE520</key>
    <integer>-77</integer>
    <key>uniE521</key>
    <integer>-89</integer>
    <key>uniE522</key>
    <integer>-136</integer>
    <key>uniE525</key>
    <integer>-138</integer>
  </dict>
  <key>uniE523</key>
  <dict>
    <key>uniE520</key>
    <integer>37</integer>
  </dict>
  <key>uniE524</key>
  <dict>
    <key>uniE520</key>
    <integer>50</integer>
    <key>uniE521</key>
    <integer>21</integer>
    <key>uniE522</key>
    <integer>18</integer>
  </dict>
  <key>uniE525</key>
  <dict>
    <key>uniE520</key>
    <integer>42</integer>
  </dict>
  <key>uniE526</key>
  <dict>
    <key>uniE520</key>
    <integer>52</integer>
  </dict>
  <key>uniE52D</key>
  <dict>
    <key>uniE520</key>
    <integer>-77</integer>
    <key>uniE522</key>
    <integer>-63</integer>
  </dict>
  <key>uniE52E</key>
  <dict>
    <key>uniE520</key>
    <integer>-76</integer>
  </dict>
  <key>uniE52F</key>
  <dict>
    <key>uniE520</key>
    <integer>-80</integer>
  </dict>
  <key>uniE530</key>
  <dict>
    <key>uniE520</key>
    <integer>-80</integer>
  </dict>
  <key>uniE531</key>
  <dict>
    <key>uniE520</key>
    <integer>-79</integer>
  </dict>
  <key>uniE532</key>
  <dict>
    <key>uniE520</key>
    <integer>-81</integer>
  </dict>
  <key>uniE533</key>
  <dict>
    <key>uniE520</key>
    <integer>-79</integer>
  </dict>
  <key>uniE535</key>
  <dict>
    <key>uniE520</key>
    <integer>37</integer>
  </dict>
  <key>uniE536</key>
  <dict>
    <key>uniE520</key>
    <integer>-64</integer>
  </dict>
  <key>uniE539</key>
  <dict>
    <key>uniE520</key>
    <integer>39</integer>
  </dict>
  <key>uniE53B</key>
  <dict>
    <key>uniE520</key>
    <integer>31</integer>
  </dict>
  <key>uniE53C</key>
  <dict>
    <key>uniE520</key>
    <integer>-60</integer>
  </dict>
  <key>uniE53D</key>
  <dict>
    <key>uniE520</key>
    <integer>29</integer>
  </dict>
  <key>uniE53E</key>
  <dict>
    <key>uniE520</key>
    <integer>134</integer>
  </dict>
  <key>uniE53F</key>
  <dict>
    <key>uniE520</key>
    <integer>34</integer>
  </dict>
</dict>
</plist>
