<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>uniE521</key>
  <dict>
    <key>uniE520</key>
    <integer>47</integer>
    <key>uniE522</key>
    <integer>16</integer>
  </dict>
  <key>uniE522</key>
  <dict>
    <key>uniE520</key>
    <integer>-87</integer>
    <key>uniE522</key>
    <integer>-136</integer>
    <key>uniE525</key>
    <integer>-138</integer>
  </dict>
</dict>
</plist>
